.block {
    height: 52px;
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.block .selected-cont {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: flex-end;
}

.time-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
}

.time-option p {
    margin: 0;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--surface-inputs);
}