.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: var(--surface-cards);
    pointer-events: all;
    overflow: hidden;
    padding: 16px 24px;
    gap: 15px;
}

    .content-container > .top {
        color: var(--text-primary);
    }

    .content-container > .media-choose {
        display: flex;
        justify-content: space-between;
        gap: 12px;
    }

    .content-container > .cancel-button {
        color: var(--text-secondary);
        padding: 8px 12px;
        background: var(--background-surface);
        border-radius: 12px;
        text-align: center;
    }