.type-password-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
}

.type-password-container.loading {
    pointer-events: none;
}

    .type-password-container .type-password-info {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

        .type-password-container .type-password-info .type-password-title {
            font-size: 24px;
            line-height: 30px;
            font-weight: 500;
            color: var(--text-primary);
            text-align: center;
        }

        .type-password-container .type-password-info .type-password-subtitle {
            font-size: 14px;
            font-weight: 400;
        }

    .type-password-container .type-password-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .type-password-container .type-password-form .type-password-form-control {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

.type-password-form-field.pass-w-req-field {
    max-height: 52px;
    height: 100%;
    gap: 6px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

    .type-password-form-field.pass-w-req-field:has(:focus),
    .type-password-form-field.pass-w-req-field.has-password {
        max-height: 209px;
    }

/* сам блок требований */
.pass-requirements {
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    font-size: 12px;
    line-height: 21px;
    transition: all 0.4s ease-in-out;
}

.type-password-form-field.pass-w-req-field:has(:focus) .pass-requirements,
.type-password-form-field.pass-w-req-field.has-password .pass-requirements {
    opacity: 1;
    transform: scaleY(1);
}

.pass-requirements p {
    margin-bottom: 4px;
    color: var(--status-done);
    font-weight: 600;
}

.pass-requirements ul {
    margin: 0;
    padding-left: 24px;
}

    .pass-requirements ul li {
        color: var(--text-placeholder);
        transition: 0.2s;
    }

        .pass-requirements ul li.green-text {
            color: var(--status-done);
        }

        .pass-requirements ul li.red-text {
            color: var(--state-error);
        }