.forgot-pass-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
}

    .forgot-pass-container .forgot-pass-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .forgot-pass-container .forgot-pass-form p {
        margin-bottom: 8px;
        color: var(--text-secondary);
    }

.error {
    color: #FF3131;
}